.reset-balance-modal {
    width: 400px;    
    position: absolute;
    top: 30%;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 8px black;
    background-color: #fff;
    border-radius: 10px;    
    text-align: center;
    padding: 1rem;

    .times-circle-icon{
        width: 20%;
        height: 20%;
    }
}

@media only screen and (max-width: 992px) {
    .reset-balance-modal{
        top: 30%;
        left: 30%;
    }
  }
@media only screen and (max-width: 768px) {
    .reset-balance-modal{
        top: 30%;
        left: 24%;
    }
  }
@media only screen and (max-width: 576px) {
    .reset-balance-modal{
        width: 50%;        
        padding: 5px;
        top: 30%;
        left: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: .7rem;
        word-wrap: break-word;
    }
    .times-circle-icon{
        width: 40%;
        height: 40%;
    }
    h2{
        font-size: 1rem;
    }
    .buttons-div{
        display: flex;     
        flex-direction: column;
        button{
            margin: 5px;    
            width: .5rem;        
            height: 1rem;
            
        }
    }    
  }